.content {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.item-box {
  padding: 5px 5px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: white;
}
