.content {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.row-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 5px;
}
