.spacer {
  flex: 1 1 auto;
}

.header-box {
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}
