<mat-toolbar color="primary" class="header-box">
  <a routerLink="/" mat-flat-button color="primary">
    <img src="../../assets/deedhub.png" width=40>
  </a>
  <span>DeedHub</span>
  <span class="spacer"></span>
  <button mat-icon-button color="accent" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/"><mat-icon>home</mat-icon>Main Page</a>
    <a mat-menu-item routerLink="/lend"><mat-icon>settings</mat-icon>Settings</a>
  </mat-menu>
</mat-toolbar>